name: Run python tests
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install test requirements
        run: python -m pip install -r requirements-test.txt

      - name: Run test suite
        run: pytest .